*{
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}
section{

}
.container{
    
}
.hide{
    display: none;
}
.btn-primary{
    background: #FF42A5;
    margin-top: 40px;
    margin-right: 20px;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 48px;
}
.btn-secondery{
    background: #4EC5F7;
    margin-top: 40px;
    margin-right: 20px;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 48px;
    border: none;
}
/* ===================================================== */
/* header and nav styles */
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 35px 240px;
}
nav>h2>span{
    color: #FF42A5;
}
nav>ul{
    display: flex;
    align-items: center;
}
nav>ul>li{
    list-style: none;
    margin-left: 32px;
}
nav>ul>li>button{
    padding: 18px 24px;
}
nav>ul>li>button>i {
    margin-left: 10px;
}

.banner{
    display: flex;
    justify-content: space-between;

}
.banner-left{
    display: flex;
    align-items: center;
    padding-left: 240px;
    background-image: url('../images/Group\ 14.png');
    background-size: 100%;
    background-repeat: no-repeat;
    flex: 50%;

    /* padding: 150px 0px; */
}
.banner-left>ul>li{
    list-style: none;

}
.banner-left h3{
    color: #FF42A5;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 48px;
    
}

.banner-left>ul>li>h1{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 95px;
    background: -webkit-linear-gradient(#F948B2, rgb(188, 12, 241));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}

.banner-left>ul>li{
    color: #534C64;
    padding: 8px 0px;
    display: flex;
    align-items: center;
    font-weight: 600;
    
}
.banner-left>ul>li>img{
    height: 24px;
    width: 24px;
    margin-right: 10px;
}
.banner-right{
    text-align: right;
    flex: 50%;
    padding-right: 240px;

}
/* we are gamer styles */
.we-are-gamer{
    background: rgba(255, 66, 165, 0.03);
    display: flex;
    margin: 0px;
    padding: 0 230px;
    align-items: center;
    justify-content: space-between;
}
.we-are-gamer-left{

}
.we-are-gamer-right{
    text-align: right;
    
}
.we-are-gamer-right h2{
    font-weight: 700;
    font-size: 48px;
    background: -webkit-linear-gradient(#F948B2, rgb(188, 12, 241));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}
.we-are-gamer-right p,h4,h6{
    color: #534C64;
}
.we-are-gamer-right h6{
    margin-top: 24px;
}
/* funny videos styles */
.funny-video{
    padding: 0 230px;
    text-align: center;
}
.funny-video h2{
    font-weight: 700;
    font-size: 48px;

}
.funny-video h2 span{
    background: -webkit-linear-gradient(#F948B2, rgb(188, 12, 241));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}
.funny-video p{
    color: #534C64;
    margin: 16px auto;
}
.funny-video{

} 
.video-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    
}
.video-card{
    margin-top: 30px;
    text-align: left;
}

/* play instantly styles */
.play-instantly{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 230px;
    margin-top: 120px;
}
.play-instantly-left{

}
.play-instantly-title{
    font-weight: 700;
    font-size: 48px;
}
.play-instantly h2 span{
    background: -webkit-linear-gradient(#F948B2, rgb(188, 12, 241));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}
.play-instantly-description{
    color: #534C64;
    margin-top: 24px;
    line-height: 150%;
}
.play-instantly-right{
    position: relative ;
}
.img-small{
    position: relative;
    top: -280px;
    right: 160px;
}
.img-big{
    position: relative;
}

/* play game online  styles */
.play-game-online{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 230px;
}
.play-game-online-left{

}
.play-game-online-title{
    font-weight: 700;
    font-size: 48px;
}
.play-game-online h2 span{
    background: -webkit-linear-gradient(#F948B2, rgb(188, 12, 241));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}
.play-game-online-description{
    color: #534C64;
    margin-top: 24px;
    line-height: 150%;
}
.play-game-online-right{
    
}
.img-small-2{
    position: relative;
    top: -220px;
    left: 480px;
}
/* game-category styles*/
.game-category{
    padding: 120px 230px;
    background: rgba(255, 66, 165, 0.03);
}
.game-category-1{
    padding: 15px 0;
   display: flex;
   gap: 27px;
   justify-content: space-between;
   align-items: center;

}
.game-category-2{
    padding: 15px 0;
   display: flex;
   gap: 27px;
   justify-content: space-around;
   align-items: center;

}
.game-list{
    background: #fff;
    display: flex;
    gap: 16px;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 8px;
}
.game-list:hover{
    color: #F948B2;
    border: 1px solid #F948B2;
}
.game-list p{
    font-size: 20px;
    font-weight: 700;
}
/* footer styles */
footer{
    background: #0B0223;
    padding: 120px 550px;
    color: #fff;
    text-align: center;


}
.footer-title{

}
.footer-title span{
    color: #F948B2;
}
footer ul li{
    list-style-type: none;
}
.footer-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 600;
    padding: 30px;
}
.social-media{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 200px;
}
.term-conditions{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 0 16px 0;
}
.term-conditions a{
    color: #fff;
    opacity: 60%;
    text-decoration: none;
}
footer p{
    color: #fff;
    opacity: 60%;
}
/* media style  */
@media screen and (max-width:576px) {
    .header{
        width: 100%;
        padding: 0px 30px;
    }
    nav{
        flex-direction: column;
        padding: 100px 50px;
    }
    .nav-title{
        margin: auto;
    }
    nav>ul{
        flex-direction: column;
    }
    nav>ul>li{
        margin: 30px;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-left{
        padding: 30px;
        width: 80%;
    }
    banner-left-contain{
        width: 50%;
    }
    
    .banner-right{
        padding-right: 20px;
        
    }
    .banner-right>img{
        width: 80%;
    }

    /* footer styles  */
    footer{
        padding: 20px 0px;
    }
    .footer-list{
        /* flex-direction: column; */
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
    }
    .social-media{
        /* flex-direction: column; */
        display: grid;
        gap: 20px;
        padding: 20px;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
    }
    .term-conditions{
        /* flex-direction: column; */
        display: grid;
        gap: 20px;
        padding: 20px;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }
}


@media  screen and (min-width:577px) and (max-width:992px) {
        footer{
            padding: 20px 0px;
        }
    
}